
body {
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: pink;
    padding-left: 2%;
}

@media screen (max-width: 600px) {
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: purple;
        align-items: center;
       
}

.header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
}

.nav {
    background-color: black;
    width: 50%;
    padding: 20px;
}

.nav ul {
    display: flex;
    justify-content: space-around;
}
.nav li {
    display: flex;
    color: pink;
}

footer {
    background-color: pink;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding: 20px;
}

.copy {
    font-style: italic;
}
